<div id="container">
  <h2 id="title">Denise McCoy

    <button>{{#link-to 'home'}}Home{{/link-to}}</button>
    <button>{{#link-to 'projects'}}Projects{{/link-to}}</button>
    <button>{{#link-to 'resume'}}Resume{{/link-to}}</button>
  </h2>
</div>



{{outlet}}
