<main class="resume-body">
  <section class="technical-tools">
    <h3>Technical Tools</h3>
  </section>

  <section class="experience">
    <h3>Experience</h3>
  </section>

  <section class="education">
    <h3>Education</h3>
  </section>
</main>


{{outlet}}
