<main class="resume-body">
  <section class="technical-tools">
    <h3>Technical Tools</h3>
      <p>Computer Programming Languages: Ruby</p>
      <p>Web Application Tools: JavaScript, HTML, CSS, Git, Rails, Ember-cli, jQuery</p>
      <p>Database Skills: Postgresql, ActiveRecord</p>
      <p>Platforms: Mac OS Yosemite </p>
  </section>

  <section class="experience">
    <h3>Experience</h3>
     <p>gSchool: Topics covered: serving and createing APIs, Ruby, ActiveRecord,
        ActionMailer, Javascript single-page applications</p>
  </section>

  <section class="education">
    <h3>Education</h3>
  </section>
</main>


{{outlet}}
